<div class="conteudo">

	<div class="rotulo">
		<span>Nova Despesa</span>
	</div>

	
	<%= form_for @despesa do |f| %>

		<div style="width: 60%; margin-top: 20px; margin-left: 50px;">

			<div class="form-group">
				<%= f.label :tipo %>
				<%= f.select :tipo, ['Compras de Fornecedor', 'Despesas Gerais', 'Outras Despesas'], class: "form-control" %>
			</div>


			<div class="form-group">
				<%= f.label :descricao %>
				<%= f.text_area :descricao, class: "form-control" %>
			</div>


			<div class="form-group">
				<%= f.label :valor %>
				<%= f.text_field :valor, class: "form-control" %>
			</div>

			<div>
				<%= f.submit :salvar, class: "btn btn-primary" %>
			</div>

		</div>

	<% end %>

</div>