<table class="table table-bordered">
	<thead>
	    <tr>
	      <th>Venda</th>
	      <th>Cliente</th>
	      <th>Data</th>
	      <th>Valor</th>
	      <th>Status</th>
	    </tr>
	</thead>
	<% @vendas.each do |venda| %>
		<tbody>
		<tr>
			<td><%= venda.id %></td>
			<td><%= venda.cliente %></td>
			<td><%= venda.created_at.strftime("%d/%m/%Y")%></td>
			<td><%= number_to_currency venda.valor_total %></td>
			<td><%= venda.status %></td>
			<td><%= button_to "Exibir", venda_path(venda), class: "btn btn-primary" %></td>
			<td><%= button_to "Editar", edit_venda_path(venda), class: "btn btn-warning" %></td>
			<td><%= button_to "Excluir", venda, method: :delete, class: "btn btn-danger", data: {confirm: "Deseja remover a venda: #{venda.id}"} %></td>
		</tr>
	 	</tbody>
	 	<% end %>
 </table>

 <%= form_tag relatorios_r_vendas_path, class: "navbar-form navbar-right" do %>
	<div>
		<%= label_tag :total %>
		<%= text_field_tag :total, (number_to_currency @total) , class: "form-controll", :disabled=>true %>
	</div>
<% end %>