<div class="conteudo">	

	<div class="rotulo">
		<span>Minhas Vendas</span>
	</div>

	<% if flash[:notice] %>
		<div class="alert alert-info" role="alert">
	  		<%= flash[:notice] %>
		</div>
	<% end %>

	<%= form_tag relatorios_filtra_vendas_path, method: :get, class: "navbar-form navbar-right" do %>
	<div class="form-group">
		<%= label_tag :data_inicial %>
		<%= date_field_tag :data_inicial, @data_inicial, class: 'form-controll' %>
		<%= label_tag :data_final %>
		<%= date_field_tag :data_final, @data_final, class: 'form-controll' %>
		<%= button_to "Filtrar", nil, class: 'btn btn-primary' %>

	</div>
	<% end %>

	<%= render 'vendas' %>
</div>	