<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Tipo</th>
			<th>Quantidade</th>
			<th>Preço de Custo</th>
			<th>Preço de Venda</th>
		</tr>
	</thead>

	<tbody>
		<% @todos.each do |produto| %>
		<tr>
			<td><%= produto.nome %></td>
			<td><%= produto.descricao %></td>
			<td><%= produto.tipo %></td>
			<td><%= produto.quantidade %></td>
			<td><%= number_to_currency produto.preco_custo %></td>
			<td><%= number_to_currency produto.preco_venda %></td>	
			<td style="border-right: none;"><%= button_to "Entrada", entrada_produto_path(produto), method: :get, class: "btn btn-primary" %></td>
			<td style="border-left: none; border-right: none;"><%= button_to "Alterar", edit_produto_path(produto), method: :get, class: "btn btn-warning" %></td>
			<td style="border-left: none;"><%= button_to "Excluir", produto, method: :delete, class: "btn btn-danger", data: {confirm: "Deseja remover o produto: #{produto.nome}"} %></td>
			
		</tr>
		<% end %>
	</tbody>
</table>