<div class="conteudo">

	<% if flash[:notice] %>
		<div class="alert alert-info" role="alert">
	  		<%= flash[:notice] %>
		</div>
	<% end %>

	<div id="menu_index">

		<div class="submenu_index">
			<p class="botao_grande"><%= link_to "Nova Venda", vendas_new_path, data: {confirm: 'Deseja registrar uma nova venda?'} %></p>

			<p class="botao_grande"><%= link_to "Nova Despesa", caixa_despesas_path %></p>
		</div>
		
		<div class="submenu_index">
			<p class="botao_grande"><%= link_to 'Meu Estoque', produtos_estoque_path %></p>

			<p class="botao_grande"><%= link_to "Novo Produto", produtos_new_path %></p>		
		</div>

		<div class="submenu_index">
			<p class="botao_grande"><%= link_to "Minhas Vendas", relatorios_r_vendas_path %></p>

			<p class="botao_grande"><%= link_to "Minhas Despesas", relatorios_r_despesas_path %></p>
		</div>

	</div>


</div>