<div class="conteudo">	

	<div class="rotulo">
		<span>Venda nº <%= params[:venda_id] %></span>
	</div>

	<% if flash[:notice] %>
		<div class="alert alert-info" role="alert">
	  		<%= flash[:notice] %>
		</div>
	<% end %>

	<%= form_for @venda do |f| %>
		<div style="width: 60%; margin-top: 20px; margin-left: 50px;">

			<div class="navbar-form navbar-left">
				<%= link_to "Adicionar Item", new_venda_item_pedido_path, class: "btn btn-primary" %>
			</div>

			<table class="table table-bordered">
				<thead>
				    <tr>
				      <th>Item</th>
				      <th>Quantidade</th>
				      <th>Valor</th>
				    </tr>
				</thead>
				<% @total_itens = 0 %>
				<% @itens.each do |item| %>
			  	<tbody>
			    	<tr>
			    		<td><%= item.produto.nome %></td>
			    		<td><%= item.quantidade %></td>
			    		<td><%= number_to_currency item.valor_item %></td>
			    		<td><%= button_to "Excluir", venda_item_pedido_path(@venda, item), method: :delete, class: "btn btn-danger", data: {confirm: "Deseja remover o item: #{item.produto.nome}"} %></td>
			    		<% total_itens += item.valor_item %>
			    	</tr>
			    	<tr>
			    		<td colspan="4", align="right"> Total Itens: <%= number_to_currency @total_itens %></td>
			    	</tr>
		 	 	</tbody>
		 	 	<% end %>
			</table>

			<div class="form-group">
				<%= f.label :cliente %>
				<%= f.text_field :cliente, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :status %>
				<%= f.select :status, ['Pago', 'Não Pago'], class: "form-control" %>
			</div>

			<div class="form_group">
				<%= label_tag :valor_total %>
				<%= text_field_tag :valor_total, @venda.valor_total, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= button_to "Salvar", update_venda_path(@venda, @item_pedidos), class: "btn btn-primary" %>
			</div>

		</div>
	<% end %>
</div>
