<div class="conteudo">	

	<div class="rotulo">
		<span>Venda nº <%= params[:id] %></span>
	</div>

	<% if flash[:notice] %>
		<div class="alert alert-info" role="alert">
	  		<%= flash[:notice] %>
		</div>
	<% end %>

		<div style="width: 60%; margin-top: 4em; margin-left: 50px;">

			<div style="margin-bottom: 1em">
				<%= link_to "Adicionar Item", new_venda_item_pedido_path(@venda), class: "btn btn-primary" %>
			</div>

			<table class="table table-bordered">
				<thead>
				    <tr>
				      <th>Item</th>
				      <th>Quantidade</th>
				      <th>Valor</th>
				    </tr>
				</thead>
				<% @total_itens = 0 %>
				<% @itens.each do |item| %>
			  	<tbody>
			    	<tr>
			    		<td><%= item.produto.nome %></td>
			    		<td><%= item.quantidade %></td>
			    		<td><%= number_to_currency item.valor_item %></td>
			    		<td><%= button_to "Excluir", venda_item_pedido_path(@venda, item), method: :delete, class: "btn btn-danger", data: {confirm: "Deseja remover o item: #{item.produto.nome}"} %></td>
			    		<% @total_itens += item.valor_item %>
			    	</tr>
		 	 	</tbody>
		 	 	<% end %>
			</table>

			<div align="right">
				<%= label_tag :total %>
				<%= text_field_tag :total, number_to_currency(@total_itens), :disabled=>true %>
			</div>

			<br>
			<%= form_for @venda do |f| %>
			<div class="form-group">
				<%= f.label :cliente %>
				<%= f.text_field :cliente, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :status %>
				<%= f.select :status, ['Pago', 'Não Pago'], class: "form-control" %>
			</div>

			<div class="form-group" style="display: none;">
				<%= f.label :valor_total %>
				<%= f.select :valor_total, [@total_itens], class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.submit :salvar, class: "btn btn-success" %>
			</div>

		</div>
	<% end %>
</div>
