<div class="conteudo">

	<%= form_for @venda do |f| %>

		<div style="width: 60%; margin-top: 20px; margin-left: 50px;">

			<div class="form-group">
				<%= f.label :valor_total %>
				<%= f.text_field :valor_total, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :status %>
				<%= f.text_field :status, class: "form-control" %>
			</div>

			<div>
				<%= f.submit :salvar, class: "btn btn-primary" %>
			</div>

		</div>
		
	<% end %>

</div>