<div class="conteudo">

	<% if flash[:notice] %>
		<div class="alert alert-info" role="alert">
	  		<%= flash[:notice] %>
		</div>
	<% end %>

	<div class="rotulo">
		<span>Venda nº <%= @venda.id %> </span>
	</div>

	<div class="navbar-form navbar-right">
		<%= link_to 'Todas as vendas', relatorios_r_vendas_path, class: "btn btn-default" %>
	</div>

	<table class="table table-bordered">
		<thead>
			<th>Cliente</th>
			<th>Valor Serviço</th>
			<th>Valor Total</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr>
				<td><%= @venda.cliente %></td>
				<td><%= @venda.valor_servico %></td>
				<td><%= number_to_currency @venda.valor_total %></td>
				<td><%= @venda.status %></td>
				<td><%= link_to "Itens", "#{@venda.id}/item_pedidos" , class: 'btn btn-primary' %></td>
			</tr>
		</tbody>
	</table>
</div>