<!DOCTYPE html>
<html>
  <head>
    <title>Eletrocell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>  

    <div id="barra_de_logo">
      <% if user_signed_in? %>
        <p class="botao_login"><%= image_tag "login.png", :width => "40px", :height => "40px" %></p>
        <p class="botao_login"><%= link_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: {confirm: 'Deseja encerrar a sessão?'} %></p>
      <% else %>
        <p class="botao_login"><%= link_to "Entrar", new_user_session_path, class: "btn btn-success" %></p>
      <% end %>
      <p class="logo"><%= image_tag "logo eletrocell 2.png", :width => "280px", :height => "90px"%></p>
    </div>

    <input type="checkbox" id="bt_menu">
    <label for="bt_menu">&#9776;</label>

    <nav class="menus">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="">Caixa</a>
          <ul>
            <li><%= link_to "Nova Venda", vendas_new_path %></a></li>
            <li><%= link_to "Nova Despesa", caixa_despesas_path %></li>
          </ul>
        </li>
        <li><a href="">Estoque</a>
          <ul>
            <li><%= link_to 'Meu Estoque', produtos_estoque_path %></li>
            <li><%= link_to "Novo Produto", produtos_new_path %></li>
          </ul>
        </li>
        <li><a href="">Relatórios</a>
          <ul>
            <li><%= link_to 'Minhas Despesas', relatorios_r_despesas_path %></li>
            <li><%= link_to 'Minhas Vendas', relatorios_r_vendas_path %></li>
            <li><a href="">Estoque</a></li>
          </ul>
        </li>
      </ul>

    </nav>

    <%= yield %>

  </body>
</html>
